STRINGTABLE DISCARDABLE
BEGIN
0	"I00100"
1	"I00200"
2	"I00300"
3	"I03100832882"
4	"I051"
5	"I052"
6	"I053"
7	"I05400149"
8	"I08100149"
9	"I08200149"
10	"I08300149"
11	"I08400149"
12	"I08700149"
13	"I08800149"
14	"I08900149"
15	"I09000149"
16	"I09100"
17	"I10100"
18	"I10200"
19	"I11100"
20	"I11200"
21	"I11300"
22	"I11400"
23	"I11600"
24	"I201"
25	"I202"
26	"I203"
27	"I204"
28	"I205"
29	"I206"
30	"I207"
31	"I208"
32	"I20A"
33	"I20B"
34	"I20C"
35	"I20D"
36	"I211"
37	"I221"
38	"I225"
39	"I226"
40	"I227"
41	"I251"
42	"I281"
43	"I282"
44	"I2E2"
45	"I301"
46	"I302"
47	"I306"
48	"I307"
49	"I311"
50	"I312"
51	"I341"
52	"I342"
53	"I346"
54	"I347"
55	"I34B"
56	"I34C"
57	"I351"
58	"I352"
59	"I353"
60	"I373"
61	"I374"
62	"I381"
63	"I382"
64	"I383"
65	"I384"
66	"I386"
67	"I387"
68	"I388"
69	"I389"
70	"I391"
71	"I401"
72	"I402"
73	"I403"
74	"I406"
75	"I50100"
76	"I502011"
77	"I503011"
78	"I50400"
79	"I20101"
80	"I50600"
81	"I50700"
82	"I50800"
83	"I50900"
84	"I50A00"
85	"I50B00"
86	"I50C00"
87	"I50D00"
88	"I50E00"
89	"I50F00"
90	"I51100"
91	"I51200"
92	"I51300"
93	"I51400"
94	"I51500"
95	"I51600"
96	"I51700"
97	"I51800"
98	"I51900"
99	"I51A00"
100	"I51B011"
101	"I51C00"
102	"I51D00"
103	"I51E00"
104	"I51F00"
105	"I520013"
106	"I52101"
107	"I52201"
108	"I52301"
109	"I52401"
110	"I525014"
111	"I52601"
112	"I52701"
113	"I52801"
114	"I52900"
115	"I52A01"
116	"I52B01"
117	"I52C013"
118	"I52D01"
119	"I52E01"
120	"I52F016"
121	"I53100"
122	"I53200"
123	"I53300"
124	"I53400"
125	"I536011"
126	"I537011"
127	"I538011"
128	"I54600"
129	"I54700"
130	"I54800"
131	"I54900"
132	"I54A00"
133	"I54B00"
134	"I54C001"
135	"I55300"
136	"I55400"
137	"I55500"
138	"I55600"
139	"I55700"
140	"I55800"
141	"I55900"
142	"I55A00"
143	"I55B00"
144	"I5BC013"
145	"I5E2011"
146	"I60101"
147	"I60201"
148	"I60301"
149	"I60401"
150	"I60501"
151	"I60601"
152	"I60701"
153	"I60801"
154	"I60901"
155	"I60A01"
156	"I60B00"
157	"I60C01"
158	"I60E013"
159	"I60F01"
160	"I61001"
161	"I61101"
162	"I612013"
163	"I61301"
164	"I61401"
165	"I61501"
166	"I61601"
167	"I61801"
168	"I61901"
169	"I61A01"
170	"I61B01"
171	"I61C01"
172	"I62101"
173	"I62201"
174	"I62301"
175	"I62401"
176	"I62501"
177	"I62601"
178	"I62701"
179	"I62801"
180	"I62901"
181	"I62A01"
182	"I62B01"
183	"I62C01"
184	"I62D01"
185	"I62E01"
186	"I62F01"
187	"I63001"
188	"I63101"
189	"I63201"
190	"I63300"
191	"I63401"
192	"I63501"
193	"I63601"
194	"I63901"
195	"I63A01"
196	"I68003"
197	"I68100"
198	"I68200"
199	"I683017"
200	"I70101"
201	"I70201"
202	"I70301"
203	"I70401"
204	"I70601"
205	"I70701"
206	"I70801"
207	"I70901"
208	"I71101"
209	"I71201"
210	"I71301"
211	"I74101"
212	"I74201"
213	"I74301"
214	"I74401"
215	"I74601"
216	"I74701"
217	"I74801"
218	"I74901"
219	"I74B01"
220	"I74C01"
221	"I74D01"
222	"I74E01"
223	"I75101"
224	"I75201"
225	"I75301"
226	"I75401"
227	"I75501"
228	"I75601"
229	"I75701"
230	"I75801"
231	"I75901"
232	"I75A00"
233	"I75B013"
234	"I75C01"
235	"I75D01"
236	"I75E01"
237	"I75F01"
238	"I76001"
239	"I76101"
240	"I77101"
241	"I77201"
242	"I77301"
243	"I77C01"
244	"I77D01"
245	"I77F01"
246	"I78003"
247	"I78101"
248	"I78201"
249	"I78301"
250	"I78401"
251	"I78501"
252	"I78601"
253	"I787013"
254	"I78801"
255	"I78901"
256	"I78A01"
257	"I78B01"
258	"I78C01"
259	"I78E01"
260	"I78F01"
261	"I79004"
262	"I79101"
263	"I79201"
264	"I79300"
265	"I794011"
266	"I79500"
267	"I79600"
268	"I79700"
269	"I79800"
270	"I79900"
271	"I79A00"
272	"I79B01"
273	"I79C01"
274	"I79D00"
275	"I79E04149"
276	"I79F00"
277	"I7A003"
278	"I7A101"
279	"I7A201"
280	"I7A301"
281	"I7A401"
282	"I7A501"
283	"I7A601"
284	"I7A7013"
285	"I7A801"
286	"I7A901"
287	"I7AA01"
288	"I7AC01"
289	"I7AD01"
290	"I7AF01"
291	"I7B103"
292	"I7B200"
293	"I7B5018"
294	"I7BC013"
295	"I7BD013"
296	"I7BE013"
297	"I80101"
298	"I80201"
299	"I803019"
300	"I80401"
301	"I80601"
302	"I80701"
303	"I808013"
304	"I80901"
305	"I80A01"
306	"I80B01"
307	"I85104"
308	"I85204"
309	"I85304"
310	"I881012"
311	"I88204149"
312	"I885012"
313	"I886012"
314	"I887012"
315	"I88804"
316	"I889012"
317	"I89104"
318	"I8BC013"
319	"I90100"
320	"I90200"
321	"I90300"
322	"I90500"
323	"IA0100"
324	"IA0200"
325	"IA0300"
326	"IA0400"
327	"IA0500"
328	"IA0600"
329	"IA1000"
330	"IA1100"
331	"IA1200"
332	"IA1300"
333	"IA1400"
334	"IA2000"
335	"IA2100"
336	"IA2200"
337	"IA2300"
338	"IA5100"
339	"IA5200"
340	"IA5300"
341	"IA5400"
342	"IA5500"
343	"IA5600"
344	"IA6100"
345	"IA6200"
346	"IA8100"
347	"IA9100"
348	"IB0100"
349	"IB0600"
350	"IB0700"
351	"IB1100"
352	"IB2100"
353	"IB4100"
354	"IB4600"
355	"IB4B00"
356	"IB5000"
357	"IB5100"
358	"IB5200"
359	"IB7100"
360	"IB7C00"
361	"IB7D00"
362	"IB7E00"
363	"IB7F00"
364	"IB8100"
365	"IB8200"
366	"IB8300"
367	"IB8700"
368	"IB8800"
369	"IB8900"
370	"IB8A00"
371	"IB8B00"
372	"IB8C00"
373	"IB8D00"
374	"IB8E00"
375	"IB9100"
376	"IB9300"
377	"IB9400"
378	"IBA000"
379	"IC0100"
380	"IC0200"
381	"IC0300"
382	"IC0400"
383	"IC0500"
384	"IC0600"
385	"IC0700"
386	"IC0800"
387	"IC0900"
388	"IC1000"
389	"IC1100"
390	"IC1200"
391	"IC2000"
392	"IC2100"
393	"IC2200"
394	"IC2500"
395	""
396	""
397	""
398	""
399	""
400	"Time of day"
401	"Shift Start Time1"
402	"Print Header Line1"
403	"System RS232 Security Code"
404	"System Type & Language Flags1"
405	"Periodic Test Needed Warning"
406	"Days Before Periodic Test Needed Warning"
407	"Days Before Periodic Test Needed Alarm"
408	"Annual Test Needed Warning"
409	"Days Before Annual Test Needed Warning"
410	"Days Before Annual Test Needed Alarm"
411	"Remote Printer Page Eject Flag"
412	"Print Temperature Compensation Flag"
413	"Temperature Compensation Value"
414	"System Date Time Display Format"
415	"BIR Shift Printouts Flag"
416	"BIR Daily Printouts Flag"
417	"Tanker Load Report Flag"
418	"HProtocol Height Volume Format"
419	"HRM QPLD Monthly Printout"
420	"Redirect Local Printout Flag"
421	"System Type & Language Flags1"
422	"Secondary Language Code Page Output"
423	"PLLD WPLLD Duration Before Precision Retest"
424	"Enable/Disable Auto Daylight Saving Time"
425	"Start/End Daylight Saving Date and Time"
426	"Ticketed Delivery Flag Enable"
427	"Ticketed Delivery Temperature Compensation Flag"
428	"Ticketed Delivery Close Day of Week"
429	"Euro Protocol Prefix"
430	"Receiver Autodial Type and Start TimeII"
431	"Receiver Configuration Flag"
432	"Receiver Location Label"
433	"Receiver Telephone Number"
434	"Receiver Dialing Destination Type"
435	"Receiver Port Number to Dial"
436	"Receiver Retry Number"
437	"Receiver Retry Delay Time"
438	"Receiver Confirmation Report Flag"
439	"Fax Auto Dial Method"
440	"Receiver Report List"
441	"Receiver Autodial Type and Start Time"
442	"Receiver Autodial On Alarms"
443	"Autodial Alarm Status"
444	"Delay for Autodial on Alarm Clear"
445	"Receiver Alarm Status"
446	"RS232 End of Message"
447	"Ticketed Variance Analysis Printout Flags"
448	"Ticketed Delivery Book Variance Printout Flags"
449	"Ticketed Delivery Variance Printout Flags"
450	"RS232 Security Codeper Port"
451	"Display Format RS232 ETX per Port"
452	"Computer Format RS232 ETX per Port"
453	"Tank Periodic Test Needed Warning"
454	"Days Before Tank Periodic Test Needed Warning"
455	"Days Before Tank Periodic Test Needed Alarm"
456	"Tank Annual Test Needed Warning"
457	"Days Before Tank Annual Test Needed Warning"
458	"Days Before Tank Annual Test Needed Alarm"
459	"CSLD Evaporation Reid Vapor Pressure Chart"
460	"Line Re-Enable Method"
461	"Periodic Line Leak Test Auto Confirm"
462	"Annual Line Leak Test Auto Confirm"
463	"Line Periodic Test Needed Warning"
464	"Days Before Line Periodic Test Needed Warning"
465	"Days Before Line Periodic Test Needed Alarm"
466	"Line Annual Test Needed Warning"
467	"Days Before Line Annual Test Needed Warning"
468	"Days Before Line Annual Test Needed Alarm"
469	"Receiver Autodial on AlarmII"
470	"Inventory Record Time1"
471	"Tank Configuration"
472	"Tank Product Label"
473	"Tank Product Code"
474	"Tank 1 Point Full Height Volume"
475	"Tank 4 Point Full"
476	"Tank 20 Point Full"
477	"Tank Diameter"
478	"Tank Tilt"
479	"Tank Thermal Expansion Coefficient"
480	"Tank Linear Calculated Full Volume"
481	"Tank Stick Height Function Enable"
482	"Tank Stick Height Offset"
483	"Tank Programmable Float Parameters"
484	"Tank Probe Offset"
485	"Tank Delivery Delay"
486	"Tank Leak Test Type Start Time"
487	"Tank Manifolded Partners"
488	"CSLD Probability of Detection"
489	"CSLD Climate Factor"
490	"BIR Meter Data Present"
491	"Accu Chart Update Scheduling"
492	"Tank CSLD Evaporation Compensation"
493	"Tank Stage-II Vapor Recovery"
494	"In-tank Leak Test Early Stop"
495	"In-tank Static Gross Test Auto Confirm"
496	"CSLD Report Only Mode"
497	"Tank Low Level Limit"
498	"Tank High Level Limit"
499	"Tank Overfill Level Limit"
500	"Tank High Water Level Limit"
501	"Tank Sudden Loss Limit"
502	"Tank Leak Alarm Limit"
503	"Tank High Water Warning Limit"
504	"Tank Maximum Volume Limit"
505	"Tank Delivery Required Limit"
506	"Tank Annual Leak Test Minimum Volume"
507	"Tank Last Annual Test"
508	"Tank Periodic Test Type"
509	"Enable/Disable Tank Leak Test Fail Alarms"
510	"CAP0 Probe Conductive Boot Flag"
511	"Mag Probe Float Size"
512	"Tank Leak Test Notify"
513	"Tank Leak Test Averaging"
514	"Tank Test Siphon Break"
515	"Leak Test Report Type"
516	"Tank HRM Reconciliation Warning Limit"
517	"Tank HRM Reconciliation Alarm Limit"
518	"Tank Periodic Leak Test Minimum Volume"
519	"Tank AccuChart End Shape Type and Factor"
520	"Tank Low Level Threshold for Sequential Line Manifold"
521	"Fuel Management General Setup Inquiry"
522	"Fuel Management Delivery Needed Warning"
523	"Fuel Management Automatic Report Print Time"
524	"Fuel Management Average Daily Sales"
525	"Liquid Sensor Configuration"
526	"Liquid Sensor Location Label"
527	"Liquid Sensor Type"
528	"Liquid Sensor Category"
529	"Vapor Sensor Configuration"
530	"Vapor Sensor Location Label"
531	"Vapor Sensor Alarm Threshold"
532	"Vapor Sensor Category"
533	"Groundwater Sensor Configuration"
534	"Groundwater Sensor Location Label"
535	"Groundwater Sensor Category"
536	"TypeA Sensor Configuration"
537	"TypeA Sensor Location Label"
538	"TypeA Sensor Type"
539	"TypeA Sensor Category"
540	"TypeB Sensor Configuration"
541	"TypeB Sensor Location Label"
542	"TypeB Sensor Type"
543	"TypeB Sensor Category"
544	"Universal Sensor Configuration"
545	"Universal Sensor Location Label"
546	"Universal Sensor Type"
547	"Universal Sensor Category"
548	"Volumetric Line Leak Configuration"
549	"Volumetric Line Leak Tank Number"
550	"Volumetric Line Leak 2 Inch Pipe Length"
551	"Volumetric Line Leak 3 Inch Pipe Length"
552	"Volumetric Line Leak Pump PSI"
553	"Volumetric Line Leak Piping Material"
554	"Volumetric Line Leak Shutdown Rate"
555	"Volumetric Line Leak Pump Side Test"
556	"Volumetric Line Leak Test Type Start Time"
557	"Line Leak Lockout Schedule"
558	"Line Disable Alarm Assignments"
559	"Volumetric Line Leak Last Annual Test"
560	"Volumetric Line Leak Dispense Mode"
561	"Volumetric Line Leak Fuel Type"
562	"Volumetric Line Leak Wait Method"
563	"Volumetric Line Leak Location Label"
564	"Volumetric Line Leak Blend Partner"
565	"Pump Sensor Configuration"
566	"Pump Sensor Tank Number"
567	"Pump Sensor Dispense Mode"
568	"Pressure Line Leak Low Pressure Shutoff"
569	"Pressure Line Leak Altitude Pressure Offset"
570	"Pressure Line Leak Secondary Pipe Length"
571	"Pressure Line Leak General Setup Inquiry"
572	"Pressure Line Leak Configuration"
573	"Pressure Line Leak Label"
574	"Pressure Line Leak 0,1 GPH Test Schedule7"
575	"Pressure Line Leak Shutdown Rate"
576	"Pressure Line Leak Tank Number"
577	"Pressure Line Leak Dispense Mode"
578	"Pressure Line Leak Disable Alarm Assignments"
579	"Pressure Line Leak Piping Material"
580	"Pressure Line Leak Primary Pipe Length"
581	"Pressure Line Leak Sensor Type"
582	"Pressure Line Leak 0,1 GPH Test Schedule1"
583	"Pressure Line Leak 0,2 GPH Test Schedule"
584	"Pressure Line Leak 0,1 GPH Auto Test Enable"
585	"Pressure Line Leak Dispense Threshold"
586	"DIM Software Revision"
587	"Mechanical Dispenser Interface String"
588	"Electronic Dispenser Interface String"
589	"Reconciliation Auto Daily Closing Time"
590	"Auto Shift Closing Time1"
591	"Periodic Reconciliation Mode"
592	"Periodic Reconciliation Report Length"
593	"Periodic Reconciliation Alarm Flag"
594	"Periodic Reconciliation Alarm Threshold"
595	"Periodic Reconciliation Alarm Offset"
596	"Remote Printer Reconciliation Report Format"
597	"Shift Manual Adjustment Value"
598	"Daily Manual Adjustment Value"
599	"Close Current Reconciliation Shift"
600	"Clear Tank Map Table"
601	"BIR Temperature Compensation Flag"
602	"WPLLD Line Leak General Setup"
603	"WPLLD Line Leak Configuration"
604	"WPLLD Line Leak Label"
605	"WPLLD Line Leak 0,2 GPH Test Schedule"
606	"WPLLD Line Leak Shutdown Rate"
607	"WPLLD Line Leak Tank Number"
608	"WPLLD Line Leak Dispense Mode"
609	"WPLLD Line Disable Alarm Assignments"
610	"WPLLD Line Leak Pipe Type"
611	"WPLLD Line Leak Pipe Length"
612	"WPLLD Line Leak 0,1 GPH Test Schedule"
613	"WPLLD Line Leak 0,1 GPH Test Schedule Enable"
614	"WPLLD Line Leak Secondary Pipe Length"
615	"WPLLD Line Leak Altitude Pressure Offset"
616	"BIR Meter Tank Mapping"
617	"Meter Calibration Offset"
618	"Ticketed Delivery"
619	"Line Disable Alarm AssignmentsII"
620	"Pressure Line Disable Alarm AssignmentsII"
621	"WPLLD Line Disable Alarm AssignmentsII"
622	"Input Configuration"
623	"Input Location Label"
624	"Input Type"
625	"Input Dispense Mode"
626	"Relay Configuration"
627	"Relay Location Label"
628	"Relay Alarm Assignments"
629	"Relay Orientation"
630	"Relay Type"
631	"Relay Tank Assignment"
632	"Restore All Setup Data from EEPROM"
633	"Save All Setup Data to EEPROM"
634	"Clear All Setup Data from EEPROM"
635	"Communication Port Data"
636	"Initialize Communication Port Data"
637	"Site Link Modem Type"
638	"Modem Setup String"
639	"Dial Tone Validation Interval"
640	"Communication Status Information"
641	"DTR Normal State for Serial Satellite Boards"
642	"AccuChart Calibration Restart"
643	"Relay Alarm AssignmentsII"
END